* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.desing {
    display: grid;
    background-color: whitesmoke;
    grid-template-areas: 
        "header"
        "content"
        "footer";
    grid-template-rows: 100px 1fr auto;
    min-height: 100vh;
}

.header {
    grid-area: header;
    background-image: url(background.png);
}



.title {
    text-align: center;
    padding-top: 20px;
    font-size: 50px;
    color: white;
}

.character {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.character-image {
    width: 540px;
    height: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(3, 0, 3, 0.1);
}

#juno {
    height: 320px;
}
#ana {
    height: 320px;
}

.media-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.media-item {
    flex: 1;
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(3, 0, 3, 0.1);
}

.description {
    display: block;
    font-size: 20px;
    text-align: justify;
    max-width: 900px;
    line-height: 1.6;
}



.footer {
    grid-area: footer;
}